node_modules

/lib
*.js
*.d.ts
/coverage
.DS_Store

lib/EasyWebWorker.d.ts
lib/EasyWebWorker.d.ts.map
lib/EasyWebWorker.js
lib/StaticEasyWebWorker.d.ts
lib/StaticEasyWebWorker.d.ts.map
lib/StaticEasyWebWorker.js
coverage